// main styles //
body {
  background: $plum;
}

.router-link-active {
  color: red;
}

.view-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  transition: $ease-slow;
  transition-delay: 400ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
  transition: $ease-slow;
}
