// main styles //
body {
  background: $plum;
}

.router-link-active {
  color: red;
}

// layout //
.view-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

section {
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 140rem;
  @include breakpoint(mdl) { flex-direction: row; width: 80vw; }
}

aside {
  //border: 1px solid pink;
  position: relative;
  width: grid-width(12);
  @include breakpoint(mdl) { width: grid-width(6); }
}

.aside-content {
  position: relative;
  @include breakpoint(mdl) { position: fixed; width: grid-width(4); }
}

main {
  @include breakpoint(mdl) { width: grid-width(6); }
}

figure {
  cursor: pointer;
  display: inline-block;
  position: relative;
  box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.25);
  transition: $ease;

  span {
    @include breakpoint(mdl) {  }
    position: absolute;
    opacity: 0;
    font-size: $fs-md+0.5rem;
    color: $gold;
    top: 44%;
    transition: $ease;
    z-index: $downstairs;
  }
}

figure:hover {
  @include breakpoint(mdl) {
    span { opacity: 1; transform: translateX(-4rem); }
    transform: translateX(2rem);
    box-shadow: none;
  }
}

figure:after {
    content:'';
    top: 0;
    left: 0;
    z-index: $basement;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba($plum,0.8);
    opacity: 0;
    transition: $ease;
}

figure:hover:after {
    opacity: 1;
}

.logo {
  margin: 16vw auto auto;
}


// lightbox //
.lightbox {
  display: none;
}

.lightbox.active {
  display: block;
}

.lb-content {
  img { max-height: 90vh; max-width: 90vw; box-shadow: 0 1rem 3rem 0 rgba(0,0,0,0.64); }
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $attic;
  opacity: 0;
  /* duration | timing function | delay | fill-mode | anim name */
  animation: 400ms ease 300ms forwards reveal;
}

.bg-overlay {
  background: rgba($plum,0.94);
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 100%;
  z-index: $upstairs;
  animation: bgReveal 200ms;
  animation-timing-function: ease;
}


// blog styles //
.blog-date {
  @include breakpoint(mdl) { width: grid-width(1); margin: -0.4rem 4rem 0 0; }
}

.blog-content {
  @include breakpoint(mdl) { width: grid-width(9); }
}



.sidebar {
  position: fixed;
  top: 0; right: 0;
  background: $cloud;
  color: $plum;
  height: 100vh;
  width: 50vw;
  z-index: $attic;
  transform: translatex(50vw);
  transition: $ease-friction;
  will-change: transform;
}

.sidebar.active {
  transform: translatex(0);
  transition-delay: 300ms;
}

.sb-overlay {
  background: rgba($plum,0.94);
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 100%;
  z-index: $crawlspace;
  opacity: 0;
  transition: $ease;
  img { opacity: 0;  }
}

.sb-overlay.active {
  z-index: $upstairs;
  opacity: 1;
  img { animation: 400ms ease 600ms forwards reveal; }
}

.sb-close-glyph {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-20%, -20%);
}































// transitions //
.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  transition: $ease-slow;
  transition-delay: 400ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
  transition: $ease-slow;
}
