// colors //
$plum:  #302a39;
$rose:  #e3384e;
$pink:  #f6d0d0;
$gold:  #fff6b4;
$cloud: #fbfbfb;

// type-utilities //
$italic: italic;
$leading: 1.3;
$half-leading: 1.14;
$fs-sm: 1.6rem;
$fs-md: 1.8rem;
$fs-lg: 2.8rem;

// spacing utilities //
$spacing: 1.6rem;

// easing //
$ease: all 300ms ease;
$ease-slow: all 800ms ease;

// z-index //
$attic: 4;
$upstairs: 3;
$downstairs: 2;
$basement: 1;
$crawlspace: -1;
